# base url for a CKAN REST API:
BASE_URL="https://opendata-ajuntament.barcelona.cat"

# this is the number of seconds to wait between requests
REQUEST_RATE_INTERVAL=1.1

# this is the number of concurrent requests allowed.
# set to 0 to remove concurrency limit
REQUEST_CONCURRENCY_LIMIT=5

# database configuration
DB_NAME=bcn_data
DB_HOST=hpmini
DB_USER=postgre